[user]
	name = Franccesco Orozco
	email = franccesco@thatai.dev
	signingkey = 95A4046E46151D26
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
